.root {
	display: grid;
	grid-template:
		"m1 body m2" auto /
		auto minmax(0, 1024px) auto;
	background: var(--bg--alt);
}
.root::before {
	content: '';
	grid-area: m1;
	display: block;
	background: linear-gradient(-90deg, var(--fade--bg-full), var(--fade--bg), var(--fade--bg));
	border-right: 2px solid var(--fade);
}
.root::after {
	content: '';
	grid-area: m2;
	display: block;
	background: var(--fade--bg);
	border-left: 2px solid var(--fade);
	background: linear-gradient(-90deg, var(--fade--bg), var(--fade--bg), var(--fade--bg-full));
}
