.root {
	height: 48px;
	display: grid;
	grid-template:
		"m1 icon title actions m2" 50%
		"m1 icon subtitle status m2" 50% /
		auto 48px minmax(0, 776px) 200px auto;
	border: 2px solid var(--fade--bg);
	box-sizing: border-box;
	text-decoration: none;
	color: var(--color);
}
.root::before {
	content: '';
	grid-area: m1;
	display: block;
	background: linear-gradient(-90deg, var(--fade--bg-full), var(--fade--bg), var(--fade--bg));
	border-right: 2px solid var(--fade);
}
.root::after {
	content: '';
	grid-area: m2;
	display: block;
	background: var(--fade--bg);
	border-left: 2px solid var(--fade);
	background: linear-gradient(-90deg, var(--fade--bg), var(--fade--bg), var(--fade--bg-full));
}
.root:hover {
	opacity: 0.9;
}
