.root {
	height: 50px;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	background: var(--main-light);
	border-bottom: 2px solid var(--main);
	display: flex;
}
.backLink {

}
.title {
	flex: 1;
}