.light {
	--bg: rgb(255, 255, 255);
	--color: rgb(5, 5, 5);
	--primary: hsl(263, 100%, 75%);
	--primary--light: hsl(263, 100%, 85%);
	--primary--dark: hsl(263, 100%, 65%);

	--secondary: hsl(243, 100%, 75%);
	--secondary--light: hsl(243, 100%, 85%);
	--secondary--dark: hsl(243, 100%, 65%);

	--fade--low: rgba(127, 127, 127, 0.125);
	--fade: rgba(127, 127, 127, 0.25);
	--fade--high: rgba(127, 127, 127, 0.5);
	--fade--bg: rgba(255, 255, 255, 0.5);

	--status--init: hsl(231, 100%, 85%);
	--status--approved: hsl(211, 100%, 85%);
	--status--pending: hsl(211, 100%, 85%);
	--status--running: hsl(201, 100%, 85%);
	--status--error: hsl(0, 100%, 78%);
	--status--timeout: hsl(0, 100%, 78%);
	--status--cancelled: hsl(0, 100%, 85%);
	--status--success: hsl(113, 100%, 85%);
	--status--uploading: hsl(113, 100%, 78%);
}
.dark {
	color:
}
