CONFIG=env/server-state.json
CONFIG_RESET=false
SSL_NGINX_PORT=8443
NOSSL_NGINX_PORT=8080
NGINX_CONFIG_PATH=output/nginx.conf
NGINX_CONFIG_CHECK=nginx -t -c $1
NGINX_RELOAD=sudo service nginx reload
NGINX_RESTART=sudo service nginx restart
PORT=5000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
FRONTEND_URL=http://localhost:3000/
BACKEND_URL=http://localhost:5000/
JWT_SECRET=
